//-This is the template used by all blog POSTS, not to be confused with the blog ARCHIVE page.
-
    let centerTitleFlag=false
    let mdContentIterator=0
    let parsedBody=null
doctype html
html 
    head
        include ../template/head
    body
        include ../template/nav
        //-Link to take you back to the blog page
        div.headerTitle
            a.navButton(href="/blog", style="padding: 5px;") 🠔 Back to Posts
        //- Get Title for blog post that goes above center box
        div.content
            each contentTag in content
                div.centerTitle #{contentTag.body}
                -   break
            div.centerTextBox
                //- Get date sub title
                each contentTag in content
                    //- Skip first element
                    if mdContentIterator===0
                        -   mdContentIterator++
                    //- Element 2 of MDON has date
                    else if mdContentIterator===1
                        -   mdContentIterator++
                        p.textTitle #{contentTag.head}
                    //- Get content from rest of MDON
                    else
                        //- Parse the body in case it is something like an image (see format.md)
                        -   parsedBody=(contentTag.body).split(" ")
                        //-No, unfortunately a switch case wouldn't work here
                        //-Continuation from special content
                        if /continue_/.test(contentTag.head)
                            span(class=`continue`) #{contentTag.body}
                        //-Code block content
                        else if /codeBlock_/.test(contentTag.head)
                            span(class=`codeBlock`) #{contentTag.body}
                        //-Centered Image content
                        else if /centerImg_/.test(contentTag.head)
                            img(class=`centerImage`, src=`${parsedBody[0]}`, alt=`${parsedBody[1]}`)
                        //-Paragraph with no header content
                        else if /p_/.test(contentTag.head)
                            p #{contentTag.body}
                        //-Link <a> content
                        else if /link_/.test(contentTag.head)
                            span.textSpecial(style=`display:inline; margin-left:5px;`)
                                a(href=`${parsedBody[0]}`) #{parsedBody[1]}
                        //-Base case, standard content
                        else
                            p.textTitle(style="text-decoration:underline") #{contentTag.head}
                            span #{contentTag.body} 
    footer
        include ../template/footer